<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="text-center">
    <h1>
      Welcome to the demo application!
    </h1>
    <h2>Running on port {{serverPortNumber}}</h2>
    <img src="assets/logo.png">

    <h2>Please, insert your data in the following form: </h2>
  </div>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label for="form-name">Name</label>
      <input class="form-control" type="text" placeholder="Name" id="form-name"
             name="name"
             minlength="4"
             maxlength="255"
             required
             #formName="ngModel"
             [(ngModel)]="user.name" >
      <div *ngIf="formName.invalid && (formName.dirty || formName.touched || userForm.submitted)" class="alert alert-danger">
        <div *ngIf="formName.errors.required">
          Name is required.
        </div>
        <div *ngIf="formName.errors.minlength">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="formName.errors.maxlength">
          Name must be at most 255 characters long.
        </div>
        <div *ngIf="formName.errors.uniqueConstrainViolation">
          The name is already in use, please choose another one
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="form-sectors">Sectors</label>
      <select multiple id="form-sectors" class="form-control" name="sectorsIds"
              required
              #formSectors="ngModel"
              [(ngModel)]="user.sectorsIds">

        <ng-template #recursiveList let-sectors let-nestedLevel="nestedLevel">
          <ng-container *ngFor="let sector of sectors">
            <ng-template #leaf>
              <option [ngValue]="sector.id" [ngStyle]="{ 'padding-left.px': nestedLevel * 30 }">{{sector.name}}</option>

              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: sector.children, nestedLevel: nestedLevel + 1}"></ng-container>
            </ng-template>

            <optgroup *ngIf="!sector.parentSectorId; else leaf" label="{{sector.name}}">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: sector.children, nestedLevel: 0}"></ng-container>
            </optgroup>
          </ng-container>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: sectors }"></ng-container>
      </select>
      <div *ngIf="formSectors.invalid && (formSectors.dirty || formSectors.touched || userForm.submitted)" class="alert alert-danger">
        <div *ngIf="formSectors.errors.required">
          It is required to select one or more sectors
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="form-terms">Accept terms</label>
      <input type="checkbox" id="form-terms" name="termsAgreed"
             required
             #formTermsAgreed="ngModel"
             [(ngModel)]="user.termsAgreed">
      <div *ngIf="formTermsAgreed.invalid && (formTermsAgreed.dirty || formTermsAgreed.touched || userForm.submitted)" class="alert alert-danger">
        <div *ngIf="formTermsAgreed.errors.required">
          It is required to accept the terms
        </div>
      </div>
    </div>
    <div class="text-center">
      <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-warning" (click)="userForm.reset()">Clear form</button>
      <button type="button" class="btn btn-danger" (click)="clearSession();userForm.reset()">Clear session</button>
    </div>
  </form>
  <alert></alert>

</div>
